
<div class="all_recipes">
<h1 class="all_recipes_title">All Recipes</h1>

  <ol>
    <% @recipes.each do |recipe| %>
      <li>
      <a href="/recipes/<%= recipe['id'] %>"><%= recipe['name'] %></a>
      </li>
    <% end %>
  <ol>

</div>
